body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  padding: 24px;
}

.nav-link {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
  margin-right: 32px;
  color: #4e75ff;
  text-decoration: none;
  font-size: 24px;
  font-weight: 800;
}

.back-link {
  display: inline-block;
  margin-bottom: 24px;
  margin-right: 32px;
  color: #4e75ff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

/* Timer styles */

.controls {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

input#datetime-picker {
  width: 312px;
  max-height: 40px;
  padding: 8px 16px;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

input#datetime-picker:hover {
  border-color: #000;
}

button[data-start] {
  height: 40px;
  padding: 8px 16px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[data-start]:disabled {
  background-color: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

button[data-start]:hover:not(:disabled) {
  background-color: #6c8cff;
}

.timer {
  display: flex;
  gap: 12px;
}

.field {
  width: 72px;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  background-color: rgb(235, 236, 237);
  border-radius: 12px;
}

.value {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 4px;
}

.label {
  display: flex;
  justify-content: center;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: #2e2f42;
}

/* Snackbar styles */

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 300px;
}

.form label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 8px;
}

.delay-input {
  padding: 8px 16px;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

fieldset {
  border: 1px solid #eeeeee;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  gap: 32px;
}

fieldset .radio-item {
  display: inline-block;
  margin: 8px;
}

fieldset .radio-item input {
  margin-right: 8px;
}

button[type='submit'] {
  padding: 12px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 8px;
}

button[type='submit']:hover {
  background-color: #6c8cff;
}

